
:root{
    /* funetes */
    --font-sans:'DM Sans', sans-serif;
	--font-inter:'Inter', sans-serif;
	--size-300:300;
	--size-400:400;
	--size-500:500;
	--size-700:700;
     /* colores */
	--background:#E5E5E5;
	--linear-gradient:207.8deg, #201E1C 16.69%, #F7931A 100%;
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px; /*Es la dimension mas chica en celulars*/
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);

    background-size: 400% 400%;

    -webkit-animation: bgAnimateBitcoin 20s ease infinite;
    -moz-animation: bgAnimateBitcoin 20s ease infinite;
    animation: bgAnimateBitcoin 20s ease infinite;
}

@-webkit-keyframes bgAnimateBitcoin {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes bgAnimateBitcoin {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes bgAnimateBitcoin {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


.header--img{
    width: 150px;
    height: 24px;
    margin-top: 39px;
    align-self:center;
}

.header--title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 36px;
    text-align: center;
    align-self: center;
}

.header--title-container h1{
    font-size: 2.4rem ;
    font-weight: bold ;
    line-height: 2.6rem;
    color:var(--just-white);
}

.header--title-container p{
    margin-top: 32px;
    font-size:1.4rem ;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--button{
    position: absolute;
    /* top: 290px; */
    /* left: calc(50% - calc(229px / 2)); se puede usar este solo o el de abajo */ 
    
    top: calc(100% - (48px/2));
    left: calc(50% - (229px/2));

    display: block;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /* SOMBRAS */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);

}

.header--button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('../assets/icons/down-arrow.svg');
}

main{
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top:80px ;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container--title{
    width: 90%;
    min-width: 280px;
    max-width: 900px;
    height: auto;
    margin: 0 auto;
}

.main-exchange-container .backgroundImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('/assets/img/Bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange-container h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.main-exchange-container p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}
.main-tables-container{
    display: flex;
    padding: 0 20px 0  20px ;
    gap: 40px;
    overflow-x: auto;
    overscroll-behavior-y: contain;/*PARA SCROLL*/
    scroll-snap-type: x proximity;/*PARA SCROLL*/
}

.main-currency-table{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 430px;
    scroll-snap-align: center;
    margin: 0 auto; /*el auto calcularia el ancho para que quede en el centro*/
    font-family: "Inter", "sans-serif";
    
}

.main-currency-table
.currency-table--title, .main-currency-table .currency-table--title-blue {
    margin: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}

.main-currency-table .currency-table--title-blue{
    color: var(--secondary-blue);
} 

.currency-table--container{
    width: 90%;
    min-width: 230px;
    max-width: 380px;
    height: 250px;
    margin: 0 auto;
}

.currency-table--container table{
    width: 100%;
    height: 100%;
}

.currency-table--container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}
/* el proceso de redondear las esquinas se hace manual no se puede modificar la tabla como conjunto */
.currency-table--container .table__top-left{
    border-radius: 15px 0 0 0;
}

.currency-table--container .table__top-right{
    border-radius: 0 15px 0  0;
}

.currency-table--container .table__button-right{
    border-radius: 0 0  15px 0;
}

.currency-table--container .table__button-left{
    border-radius: 0 0  0 15px ;
}

.currency-table--container .table__right{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575 ;
}

.currency-table--container .down{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("../assets/icons/trending-down.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.currency-table--container .up{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../assets/icons/trending-up.svg");
}

.table--date-actualization{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.actualized, .actualized-blue {
    /* display: flex; */
    /* position: relative; */
    margin-top: 2rem;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    background-color: var(--soft-orange);
    /* align-content: center; */
}

div .actualized-blue{
    background-color: var(--soft-blue);
    margin-bottom: 50px;
}

.main-product-detail{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}

.product-detail--batata-logo{
    position: absolute;
    width: 80px;
    height: 50px;
    top: -25px;
    left: calc(50% - (80px / 2));
    background-image: url('/assets/icons/batata.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.product-detail--title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.product-detail--title h2{
    margin-bottom: 28px;
    font-size: 2.4rem;
    color: var(--just-white);
    font-weight: bold;
    line-height: 2.6rem;
}

.product-detail--title p{
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

.product-detail--card{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    min-height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color:var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0.16);
}

.product-detail--card .card-icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.clock{
    background-image: url('/assets/icons/clock.svg');

}

.eye{
    background-image: url('/assets/icons/eye.svg');

}

.dollar{
    background-image: url('/assets/icons/dollar-sign.svg');
}

.check{
    background-image: url('/assets/icons/check-circle.svg');
}

.product--card-title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}

.product--card-body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.bitcoin-img-container{
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url('/assets/img/bitcoinbaby2x.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.bitcoin-img-container h2{
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.main-plans-container{
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}

.plans-title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto; /*para centrar8*/
    margin-bottom: 50px;
}

.plans-title h2 {
    padding-top: 50px;
    font-size: 2.4 rem;
    font-weight: bold;
    line-height: 2.6 rem;
    color: var(--black);
}

.plans-title p {
    padding-top: 30px;
    font-size: 1.4rem;
    line-height: 1.8rem ;
    color: #757575;
}

.plans-container--slider{
    display: flex;
    gap: 7px;
    height: 316px;
    margin-left: 10px;margin-right: 10px;
    overflow-x: scroll;/*PARA SCROLL*/
    overscroll-behavior-x: contain;/*PARA SCROLL*/
    scroll-snap-type: x proximity;/*PARA SCROLL*/
}

.plans-container--card{
    position: relative;
    scroll-snap-align: center; /*PARA SCROLL*/
    width: 70%;
    min-width: 290px;
    max-width: 300px;
    height: 250px;
    margin: 50px 5px 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.recomended{
    position: absolute;
    width: 120px;
    height: 31px;
    top: -15px;
    padding: 7.5px;
    left: calc(50% - 60px);
    font-size: 1.2rem;
    font-weight: bold;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--just-white);
}

.plan-card--title{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color:black;
}

.plan-card--price{
    padding: 5px 0;
    font-size: 5.3rem;
    font-weight: bold;
    line-height: 6.3rem;
    color: black;
}

.plan-card--price span {
    font-size: 1.2rem;
    font-weight: 300;
}

.plan-card--saving{
    font-size: 1.2rem;
    color: #757575;
}

.plan-card--price span{
    vertical-align: 25px;
}/*signo de pesos*/



.plan-card--ca{
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: var(--soft-orange);
    border: none;
    box-shadow: 0 1px 4px rgba(20, 30, 30, 0.25);
    border-radius: 10px;
    font-family: "DM Sans", sans-serif;
    font-family: "DM Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--bitcoin-orange);
}

.plan-card--ca span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("/assets/icons/orange-right-arrow.svg");
    vertical-align: text-bottom;
}

footer{
    display: flex;
    width:100%;
    height:150px;
    background-color: var(--bitcoin-orange);
}

footer section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

footer .left ul{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style:none ;
}

.left li{
    margin: 10px 0;
}

.left a{
    text-decoration: none;
    color: var(--just-white);
}

footer img {
    width: 100px;
    height: 100px;
}